<template>
  <v-container fluid fill-height>
    <v-layout align-center>
      <v-flex xs12 sm8 md6 offset-sm2 offset-md3>
        <h1 class="display-3 text-xs-center">This page doesn't exist</h1>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'Error'
  }
</script>

<style scoped>

</style>
