<template>
	<div class="container pt-2">
		<div class="form-group">
			<label for="name">Car name</label>
			<input type="text" class="form-control" v-model.trim="carName" id="name">
		</div>

		<div class="form-group">
			<label for="year">Car year</label>
			<input type="text" class="form-control" v-model.number="carYear" id="year">
		</div>

		<button class="btn btn-success" @click="createCar">Create car</button>
		<button class="btn btn-primary" @click="getCars">Get cars</button>

		<ul class="list-group pt-4">
			<li
				class="list-group-item"
				v-for="car of cars"
				:key="car.id"
			>
				<strong>{{ car.name }} \\ {{ car.year }}</strong>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		name: 'app',
		data () {
			return {
				carName: '',
				carYear: 2018,
				cars: [],
				resource: null,
			}
		},
		methods: {
			createCar() {
				const car = {
					name: this.carName,
					year: this.carYear
				};

				/*
				this.$http.post('http://localhost:3000/cars', car)
					.then(response => {
						// console.log(response);
						return response.json();
					})
					.then(newCar => {
						console.log(newCar);
					})
				*/
				this.resource.save({}, car);
			},
			getCars() {
				/*
				this.$http.get('http://localhost:3000/cars')
					.then(response => {
						return response.json();
					})
					.then(cars => {
						this.cars = cars;
					})
				*/

				this.resource.get({})
					.then(response => response.json())
					.then(cars => this.cars = cars)
			},
		},
		created() {
			this.resource = this.$resource('cars')
		},
	}
</script>

<style>

</style>
