<template>
	<div>
		<h2>Counter:</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, eum, harum!</p>
	</div>
</template>

<script>

export default {
	name: "Counter",
}
</script>

<style scoped>
	h2 {
		color: red;
	}
</style>
