<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card v-if="!loading">
          <v-card-media
            :src="ad.imageSrc"
            height="300px"
          ></v-card-media>
          <v-card-text>
            <h1 class="text--primary">{{ ad.title }}</h1>
            <p>{{ ad.description }}</p>
          </v-card-text>
          <v-card-actions>
            <app-edit-ad-modal :ad="ad" v-if="!isGuest && isOwner"></app-edit-ad-modal>
            <app-buy-modal :ad="ad" class="ml-2"></app-buy-modal>
          </v-card-actions>
        </v-card>
        <div v-else class="text-xs-center mt-5">
          <v-progress-circular
            :size="100"
            :width="4"
            color="primary"
            indeterminate
          ></v-progress-circular>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import EditAdModal from './EditAdModal.vue'

  export default {
    name: 'Ad',
    props: ['id'],
    computed: {
      ad () {
        const id = this.id
        return this.$store.getters.adById(id)
      },
      loading () {
        return this.$store.getters.loading
      },
      isGuest () {
        return this.$store.getters.user === null
      },
      isOwner () {
        return this.ad.ownerId === this.$store.getters.user.id
      }
    },
    components: {
      appEditAdModal: EditAdModal
    }
  }
</script>

<style scoped>

</style>
