body {
	background-color: #ac6722;
}

.wrap {
	width: 100%;
}

.carcass {
	width: 800px;
	height: 100%;
	background-color: #e6e6e6;
	border-radius: 10px;
	margin:0px auto;
	text-align: center;
	padding:30px 10px 0px 10px;
}

.popup__overlay {
	display: none;
	position: fixed;
	opacity: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	text-align: center;
	z-index: 5005
}

.popup__overlay:after {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
	content: ''
}

.popup {
	display: inline-block;
	position: relative;
	max-width: 80%;
	padding: 20px;
	border-radius: 15px;
	border:3px solid #088789;
	background: #fff;
	vertical-align: middle;
	background: #21a3d8 none repeat scroll 0 0;
	height: 136px;
}

input[type="button"] {
	padding: 6px 16px;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	background: #ff6600;
	color: #fff
}

.popup__close {
	display: block;
	position: absolute;
	top: -18px;
	right: 10px;
	width: 12px;
	height: 12px;
	padding: 8px;
	border-radius: 50%;
	cursor: pointer;
	background: #088789;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	cursor:pointer;
	box-sizing: content-box !important;
}

.popup__close:hover {
	background: #ff6600;

}


.popup p {
	color: #fff;
	font-family: "Arial",sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

#telForm {
	background: #fafafa none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px 0 0 5px;
	float: left;
	height: 35px;
	text-align: center;
	width: 58%;
}

#telButton {
	background: #e03f58 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0 5px 5px 0;
	color: #fff;
	cursor: pointer;
	float: right;
	height: 37px;
	transition: all 0.6s ease 0s;
	width: 40%;
}

#clock {
    font-size: 30px;
    text-align: center;
}

#countdown {
	font-size: 30px;
	text-align: center;
}

.myForm {
	text-align: left;
	margin-left:40px;
}

.myForm label {
	display: block;
}

div {
	margin: 20px 10px;
}

.myForm input, .myForm textarea, .myForm select{
	width: 90%;
	border:1px solid gray;
	border-radius: 5px;
	background: #fafafa;
	height:30px;
	padding:5px;
}

.myForm select {
	height:auto !important;
}

.checkbox input {
	width:auto !important;
	height:auto !important;
}

.events {
	border: 1px solid red;
	padding: 20px;
}

    .events p{
        border: 1px solid gray;
        padding: 20px;
    }

    .events span{
        border: 1px solid green;
        padding: 20px;
        display: block;
    }

.hidden {
	display: none;
}

.active {
	display: block;
}

