<template>
	<div>
		<h1>Car id {{ id }}</h1>

		<button
			class="btn btn-sm btn-default"
			@click="goBackToCars"
		>Back</button>

		<router-link
			tag="button"
			class="btn btn-sm btn-info ml-3"
			:to="{
				name: 'CarFull',
				params: {id},
				query: {
					name: 'Mazda',
					year: 2000
				},
				hash: '#scroll',
			}"
		>Full info</router-link>
		<router-view></router-view>
	</div>
</template>

<script>
    export default {
        name: "Car",
		data() {
        	return {
        		// id: this.$router.currentRoute.params['id'],
        		id: this.$route.params['id'],
			}
		},
		methods: {
        	goBackToCars() {
				this.$router.push('/cars');
			}
		},
		watch: {
        	$route(toRoute, fromRoute) {
        		this.id = toRoute.params['id'];
			}
		},
		beforeRouteLeave(to, from, next) {
			if (window.confirm('Are you sure you want te leave?')) {
				next();
			} else {
				next(false);
			}
		},
    }
</script>

<style scoped>

</style>
