<template>
    <div>
		<h4>Car name: {{ name }}</h4>
		<h4>Car year: {{ year }}</h4>

		<div class="scroll"></div>

		<h6 id="scroll">Hello from the bottom</h6>
	</div>
</template>

<script>
    export default {
        name: "CarFull",
		computed: {
        	year() {
        		return this.$route.query.year
			},
        	name() {
        		return this.$route.query.name
			},
		},
		beforeRouteEnter(to, from, next) {
        	next();
		}
    }
</script>

<style scoped>
	.scroll {
		width: 100px;
		height: 1000px;
		background-color: #ccc;
	}
</style>
