<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <h2>
        <a href="http://google.com" target="_blank" v-on:click.prevent="">Google</a>
    </h2>

    <h2 v-on:mousemove="handleMouseMove">
        X: {{ x }}\ Y: {{ y }}
        <span v-on:mousemove.stop="">Не змінювати</span>
    </h2>

    <hr>

    <input type="text" v-on:keyup.enter.space="alertValue">

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            x: 0,
            y: 0,
        },
        methods: {
            handleMouseMove: function (event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            alertValue: function (event) {
                alert(event.target.value);
            }
        },
    });

</script>
</body>
</html>