<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <h2>{{ title }}</h2>

    <button @click="title = 'Changed title'">Change title</button>
    <button @click="doDestroy">Destroy</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            title: 'Hello, I am app'
        },
        methods: {
            doDestroy: function () {
                this.$destroy();
            }
        },
        beforeCreate: function () {
            console.log('beforeCreate');
        },
        created: function () {
            console.log('created');
        },
        beforeMount: function () {
            console.log('beforeMount');
        },
        mounted: function () {
            console.log('mounted');
        },
        beforeUpdate: function () {
            console.log('beforeUpdate');
        },
        updated: function () {
            console.log('updated');
        },
        beforeDestroy: function () {
            console.log('beforeDestroy');
        },
        destroyed: function () {
            console.log('destroyed');
        },
    });

</script>
</body>
</html>