<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app"></div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    var vue = new Vue({
        data: {
            title: 'Hello, I am app'
        },
        template: '<h1>{{ title }}</h1>',
    });

    vue.$mount('#app');

</script>
</body>
</html>