<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">

    <h2>{{ title }}</h2>
    <button @click="title = 'Updated title'">Update title</button>
</div>

<hr>

<div id="app2">
    <h2>{{ title }}</h2>
    <button @click="updateFirstTitle">Upd first title</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    var vue1 = new Vue({
        el: "#app",
        data: {
            title: 'Hello I am title',
        },
        methods: {
            alertTest: function () {
                alert('I am from app1');
            }
        }
    });

    new Vue({
        el: "#app2",
        data: {
            title: 'Hello, I am app2'
        },
        methods: {
            updateFirstTitle: function () {
                vue1.title = 'updated from app2';

                setTimeout(function () {
                    vue1.alertTest();
                }, 1000);
            }
        }
    });

</script>
</body>
</html>