<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">

    <h2>Counter {{ counter }} \\ {{ counter2 }}</h2>
    <h3>{{ computedResult }}</h3>

    <button @click="add">Add</button>
    <button @click="sub">Sub</button>
    <button @click="counter2++">Add counter 2</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            counter: 0,
            counter2: 0,
        },
        methods: {
            add: function () {
                this.counter++;
            },
            sub: function () {
                this.counter--;
            },
            result: function () {
                return this.counter > 3 ? 'More than 3' : 'Less then 3';
            }
        },
        computed: {
            computedResult: function () {
                return this.counter > 3 ? 'More than 3' : 'Less then 3';
            }
        }
    });

</script>
</body>
</html>