<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">

    <ul>
        <li v-for="(person, index) in people">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age }}</b></li>
    </ul>

    <hr>

    <ol>
        <li v-for="num in 4">{{ num }}</li>
    </ol>

    <hr>

    <ul>
        <li v-for="(value, key, index) in person"><b>{{ key }}</b>: {{ value }}</li>
    </ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            people: [
              // 'Vanya', 'Olezhka', 'Denchyk', 'Serioga'
                {name: 'Vanya', age: 20},
                {name: 'Olezhka', age: 20},
                {name: 'Denchyk', age: 18},
                {name: 'Serioga', age: 20},
            ],
            person: {
                name: 'Vanya',
                age: 50,
                job: 'Full-stack',
            }
        },
    });

</script>
</body>
</html>