<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <input type="text" v-model.lazy="inputValue">
    <h2>{{ inputValue }}</h2>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            inputValue: 'Test',
        },
    });

</script>
</body>
</html>