<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <h2>Counter = {{ counter }}</h2>
    <button v-on:click="riseCounter">Збільшити</button>

    <hr>
    <h2 v-on:mouseover="onHover">Counter2 = {{ counter2 }}</h2>
    <button v-on:click="counter2++">Збільшити</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            counter: 0,
            counter2: 0,
        },
        methods: {
            riseCounter: function () {
                this.counter++;
            },
            onHover: function (event) {
                event.target.style.color = "#61a3cc";
            }
        }
    });

</script>
</body>
</html>