<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <h2>
        <a :href="url">Google</a>
    </h2>

    <h2>
        Counter: {{ counter }}
    </h2>

    <button @click="counter++">Збільшити</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            url: 'http://google.com',
            counter: 0,
        },
    });

</script>
</body>
</html>