<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <h2>{{ title }} = {{ counter }}</h2>
    <button v-on:click="riseCounter(2, 'Змінено на 2', $event)">Збільшити на 2</button>
    <button v-on:click="riseCounter(3, 'Змінено на 3', $event)">Збільшити на 3</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            counter: 0,
            title: 'counter',
        },
        methods: {
            riseCounter: function (num, str, event) {
                this.counter += num;
                this.title = str;
                if(num === 2) {
                    event.target.style.color = 'blue';
                } else if (num === 3) {
                    event.target.style.color = 'red';
                }
            },
        }
    });

</script>
</body>
</html>