<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <h1>String {{ name }}</h1>
    <h1>Sum: {{ 10+30 }}</h1>
    <h1>Number: {{ number }}</h1>
    <h1>Method: {{ sayHello() }}</h1>
    <h1>If: {{ isOk ? 'ok' : 'not ok' }}</h1>
    <h1>Functions: {{ string.split('').reverse().join('') }}</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            name: 'Vue!',
            number: 100,
            isOk: true,
            string: 'My name is Vanya',
        },
        methods: {
            sayHello: function () {
                return 'I am function';
            }
        }
    });

</script>
</body>
</html>