<template>
	<div id="app">
	  	<h2 v-colored:background.font="'red'">{{ title }}</h2>
	  	<h2 v-colored:color.delay.font="'blue'">{{ title }}</h2>
	  	<h2 v-font-directive>Local font directive</h2>
	</div>
</template>

<script>
export default {
	name: 'app',
	data () {
		return {
			title: 'Welcome to Your Vue.js App',
		}
	},
	directives: {
		fontDirective: {
			bind(element, bindings, virtualNode) {
				element.style.fontSize = '40px';
			}
		}
	}
}
</script>

<style>

</style>
