<template>
	<div class="container text-center pt-5">
		<h1>{{ title }}</h1>
		<app-counter></app-counter>
		<app-second-counter></app-second-counter>
		<app-actions></app-actions>
	</div>
</template>

<script>
	import Actions from './Actions';
	import Counter from './Counter';
	import SecondCounter from './SecondCounter';

	export default {
		name: 'app',
		data () {
			return {
				msg: 'Welcome to Your Vue.js App',
			}
		},
		components: {
			appActions: Actions,
			appCounter: Counter,
			appSecondCounter: SecondCounter,
		},
		computed: {
			title() {
				return this.$store.getters.title;
			}
		}
	}
</script>

<style>

</style>
