<template>
	<div class="container">
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<!--
					<li class="nav-item">
						<router-link class="nav-link" to="/cars">Cars</router-link>
					</li>
					-->
					<router-link tag="li" class="nav-item" to="/" active-class="active" exact>
						<a class="nav-link">Home</a>
					</router-link>
					<router-link tag="li" class="nav-item" to="/cars" active-class="active" exact>
						<a class="nav-link">Cars</a>
					</router-link>
				</ul>
			</div>
		</nav>

		<router-view></router-view>
	</div>
</template>

<script>
	export default {
		name: 'app',
		data () {
			return {

			}
		}
	}
</script>

<style>

</style>
