<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 class="text-xs-center mt-5" v-if="loading">
        <v-progress-circular
          :size="100"
          :width="4"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-flex>

      <v-flex xs12 sm8 md6 offset-sm2 offset-md3 v-else-if="!loading && orders.length !== 0">
        <h1 class="text--secondary mb-3">Orders</h1>
        <v-list
          subheader
          two-line
        >
          <v-list-tile
            v-for="order in orders"
            :key="order.id"
            @click=""
          >
            <v-list-tile-action>
              <v-switch
                v-model="order.done"
                color="success"
                @change="markOrderOnSwitch(order)"
              >
              </v-switch>
            </v-list-tile-action>

            <v-list-tile-content
              @click="markOrderOnContent(order)"
            >
              <v-list-tile-title>{{ order.name }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ order.phone }}</v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn
                class="primary"
                :to="'/ad/' + order.adId"
              >Open</v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-flex>

      <v-flex xs12 v-else>
        <div class="text-xs-center">
          <h1 class="text--secondary">You have no orders</h1>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'Orders',
    computed: {
      loading () {
        return this.$store.getters.loading
      },
      orders () {
        return this.$store.getters.orders
      }
    },
    methods: {
      markOrderOnSwitch (order) {
        this.$store.dispatch('markOrder', {done: order.done, id: order.id})
          .then(() => {
          })
          .catch(() => {})
      },
      markOrderOnContent (order) {
        this.$store.dispatch('markOrder', {done: !order.done, id: order.id})
          .then(() => {
            order.done = !order.done
          })
          .catch(() => {})
      }
    },
    created () {
      this.$store.dispatch('fetchOrders')
    }
  }
</script>

<style scoped>

</style>
