<template>
	<div id="app">
		<h2>{{ title }}</h2>

		<input type="text" v-model="searchName">

		<ul>
			<li v-for="name of filteredNames">{{ name }}</li>
		</ul>

		<hr>

		<app-list></app-list>
	</div>
</template>

<script>
	import ListMixin from './listMixin'

	export default {
		name: 'app',
		data () {
			return {
				title: 'Welcome to Your Vue.js App',
			}
		},
		mixins: [ListMixin],
		filters: {
			lowercase(str) {
				return str.toLowerCase();
			}
		},
	}
</script>

<style scoped>

</style>
