<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <my-counter v-for="i of 20"></my-counter>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    Vue.component('my-counter', {
        template: `
            <div style="border: 1px solid black; padding: 10px;">
                <h2>Counter: {{ counter }}</h2>
                <button @click="add">Counter add</button>
            </div>
        `,
        data: function() {
            return {
                counter: 0,
            }
        },
        methods: {
            add: function () {
                this.counter++;
            }
        }
    });

    var vue = new Vue({
        el: "#app",
    });

</script>
</body>
</html>