<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">
    <my-counter v-for="i of 3"></my-counter>
</div>

<div id="app2">
    <my-counter v-for="i of 2"></my-counter>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    component = {
        template: `
            <div style="border: 1px solid black; padding: 10px;">
                <h2>Counter: {{ counter }}</h2>
                <button @click="add">Counter add</button>
            </div>
        `,
        data: function() {
            return {
                counter: 0,
            }
        },
        methods: {
            add: function () {
                this.counter++;
            }
        }
    };

    new Vue({
        el: "#app",
        components: {
            'my-counter': component,
        }
    });

    new Vue({
        el: "#app2",
    });

</script>
</body>
</html>