<template>
	<div id="app">
		<h2>Form input</h2>
		<!--
		<input type="text" v-model.lazy="name">
		<p>{{ name }}</p>

		<hr>

		<textarea v-model="textarea"></textarea>
		<p>{{ textarea }}</p>

		<hr>

		<label>
			<input type="checkbox" value="instagram" v-model="social"> Instagram
		</label>
		<label>
			<input type="checkbox" value="vk" v-model="social"> VK
		</label>
		<label>
			<input type="checkbox" value="facebook" v-model="social"> Facebook
		</label>
		<ul>
			<li v-for="checkbox in social">{{ checkbox }}</li>
		</ul>

		<hr>

		<label>
			<input type="radio" value="instagram" v-model="radio"> Instagram
		</label>
		<label>
			<input type="radio" value="vk" v-model="radio"> VK
		</label>
		<label>
			<input type="radio" value="facebook" v-model="radio"> Facebook
		</label>
		<p>{{ radio }}</p>

		<hr>

		<select v-model="checkedSocial">
			<option v-for="social in socialsList">{{ social }}</option>
		</select>
		<p>{{ checkedSocial }}</p>

		<hr>

		<input type="text" v-model.number="age">
		<p>{{ age }}</p>
		-->
		<app-on-off v-model="switched"></app-on-off>
		<div>
			<h3 v-if="switched">Component is enabled</h3>
			<h3 v-if="!switched">Component is disabled</h3>
		</div>
	</div>
</template>

<script>
	import OnOff from './OnOff';

	export default {
		name: 'app',
		/*
		data () {
			return {
				name: 'test',
				textarea: 'Text area',
				social: ['vk'],
				radio: 'facebook',
				socialsList: ['instagram', 'vk', 'facebook'],
				checkedSocial: 'facebook',
				age: 20,
			}
		},
		*/
		data() {
			return {
				switched: false,
			}
		},
		/*
		watch: {
			age(value) {
				// console.log(value);
				// console.log(typeof value);
			}
		}
		*/
		components: {
			appOnOff: OnOff,
		},
	}
</script>

<style scoped>
	textarea {
		height: 100px;
		width: 400px;
	}

	p {
		white-space: pre;
	}
</style>
