<template>
  <div class="container text-center pt-5">
    <!--<button class="btn btn-primary mb-3" @click="show = !show">Toggle</button>-->

    <!--
    <transition
      name="myAnimation"
      :duration="{enter: 1100, leave: 900}"
      appear
    >
      <p v-if="show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, tempore.</p>
    </transition>
    -->
    <!--
    <transition
      enter-active-class="animated wobble"
      leave-active-class="animated shake"
    >
      <p v-if="show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, saepe!</p>
    </transition>
    -->

    <!--
    <transition name="myAnimation" mode="out-in">
      <div
        class="alert alert-success"
        v-if="show"
        key="success"
      >success</div>
      <div
        class="alert alert-danger"
        v-if="!show"
        key="danger"
      >danger</div>
    </transition>
    -->

    <!--
    <transition
      @before-enter="beforeEnter"
      @enter="enter"
      @after-enter="afterEnter"
      @enter-cancelled="enterCancelled"

      @before-leave="beforeLeave"
      @leave="leave"
      @after-leave="afterLeave"
      @leave-cancelled="leaveCancelled"
    >
      <p v-if="show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vero!</p>
    </transition>
    -->

    <button class="btn btn-success" @click="add">Add</button>
    <button class="btn btn-danger" @click="remove">Remove</button>

    <hr>

    <transition-group tag="ul" class="list-group width300" name="myAnimation">
      <li class="list-group-item" v-for="item of items" :key="item">{{ item }}</li>
    </transition-group>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      show: true,
      items: [1, 2, 3, 4, 5, 6],
      nextNum: 7
    }
  },
  methods: {
    getIndex() {
      return Math.floor(Math.random() * this.items.length)
    },
    add() {
      this.items.splice(this.getIndex(), 0, this.nextNum++)
    },
    remove() {
      this.items.splice(this.getIndex(), 1)
    },
    beforeEnter(el) {
      console.log('beforeEnter')
    },
    enter(el, done) {
      console.log('enter')
      done()
    },
    afterEnter(el) {
      console.log('afterEnter')
    },
    enterCancelled(el) {
      console.log('enterCancelled')
    },
    beforeLeave(el) {
      console.log('beforeLeave')
    },
    leave(el, done) {
      console.log('leave')
      done()
    },
    afterLeave(el) {
      console.log('afterLeave')
    },
    leaveCancelled(el) {
      console.log('leaveCancelled')
    }
  }
}
</script>

<style scoped>

  .width300 {
    width: 300px;
    margin: 0 auto;
  }

  .myAnimation-enter {
    opacity: 0;
  }
  .myAnimation-enter-active {
    transition: opacity 1s;
  }
  .myAnimation-enter-to {}

  .myAnimation-leave {}
  .myAnimation-leave-active {
    animation: 1s myAnimation-slide forwards;
    transition: opacity 1s;
  }
  .myAnimation-leave-to {
    opacity: 0;
  }

  @keyframes myAnimation-slide {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-100px);
    }
  }

</style>
